.Homecategories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0px;
}

.Homecategories  .cantainer{
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Homecategories .cantainer img{
    width: 50%;
    object-fit: cover;
}
.Homecategories .cantainer  .content{

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Homecategories .cantainer .content h1{
    
}
    