.box{
    height: 100vh;
    width: 100wh;
    background: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.main{
    width: 50%;
    height: 40%;
    border-radius: 15px;
    background: black;
   
}